[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Tyler
	email = tylerhaxton96@gmail.com
[safe]
	directory = D:/GitHub/Moonveil
